body, html {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eee6de;
    color: #37514d;
}

p {
    text-align: justify;
}

ul { 
    list-style: none; 
    padding-left: 5px; 
}

h2 {
    color: #37514d;
}

a { 
    color: #b6594c; 
    text-decoration: none;
}

a:hover {
    color: #90aeb2;
}

.bar {
    background-color: #dd8e75;
    padding:15px;
    border-top: solid 1px #dd8e75;
    border-bottom: solid 1px #dd8e75;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    min-height: 100px;
    border-top: solid 1px #dd8e75;
}

aside {
    border-left: solid 1px #dd8e75;
    padding-left: 15px;
}

.sidebar {
    border-right: solid 1px #dd8e75;
}

figure {
    text-align: center;
}

table {
    border: solid 1px #37514d;
    text-align: center;
}

table thead th {
    background-color: #be845e;
    color: #eee6de;
    border: solid 1px #37514d;
}

table thead td {
    background-color: #be845e;
    color: #eee6de;
    border: solid 1px #37514d;
}

table tbody tr:nth-child(even) {
    background-color: #dd8e75;
}

table tbody tr:hover td {
    background-color: #90aeb2;
    cursor: pointer;
}